{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Albuns</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href=" {% static 'css/estilo.css'%}">
</head>
<body>
<div id="loading" style="display: block">
    <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" style="width:150px;height:150px;" />
</div>
<div class="back"></div>
<nav>
 <a href="  " style=" text-decoration: none;">INÍCIO</a>
  <a href="store" style=" text-decoration: none;">MÚSICAS</a>
  <a href="order" style=" text-decoration: none;">ÁLBUNS</a>
  <a href="contact" style=" text-decoration: none;">ARTISTAS</a>
</nav>

<div class="logo">
    <img src="{%static 'img/logomarca.png'%}">
    <h2>Álbuns</h2>
</div>
<div class="div-feed">
          {% for a in albuns%}

        <ul class="ul-feed">
            <li class="lititle">{{a.name}}</li>
            <li><label>Autor : </label><br><input class="txtbox" type="text" value="{{a.author}}" readonly> </li>
            <li><label>Versão:</label><br><input class="txtbox" type="text" value="{{a.version}}" readonly> </li>
            <li> <label>Descrição:</label><br><textarea class="txtbox" readonly>{{a.desc}}</textarea></li>
        </ul>

        {%endfor%}
    </div>
    <script>
        var i = setInterval(function () {

    clearInterval(i);


    document.getElementById("loading").style.display = "none";
    document.getElementById("conteudo").style.display = "inline";

}, 4000);
    </script>

</body>
</html>